<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tip_Calculator___Desktop.Properties.Settings.CondominiumManagementSystemDBConnectionString"
            connectionString="Data Source=DESKTOP-KDU66V0\SQLSERVER2014;Initial Catalog=CondominiumManagementSystemDB;Persist Security Info=True;User ID=sa;Password=p@55w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>